<div class="hero-white">
    <div class="header clearfix">
        <a href="{% url 'mainapp:index' %}" class="logo"></a>
        <ul class="menu">
            <li><a href="{% url 'mainapp:index' %}">домой</a></li>
            <li><a href="{% url 'mainapp:products' %}" class="active">продукты</a></li>
            <li><a href="{% url 'mainapp:contact' %}">контакты</a></li>

        </ul>
        <a href="#" class="search"></a>
        <a href="#" class="basket"></a>
    </div>
</div>

