{% extends 'mainapp/base.html' %}
{% load static %}

{% block main_slider %}
<div class="container">
	<div class="hero-white">
		{% include 'mainapp/inc_menu.html' %}
	</div>
	{% endblock %}

{% block products %}
		<div class="details">
			<div class="links clearfix">
			{% include 'mainapp/inc_categories_menu.html' %}
			</div>
          <h2>
            категория {{ category.name }}
          </h2>
          {% for product in products%}
          <div class="block w-25 my-3 mx-3">
            <a href="{% url 'basket:add' product.pk %}">
              <img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
              <div class="text">
                <img src="{'static/img/icon-hover.png'}" alt="hover">
                <h4>{{ product.name }}</h4>
                <p>{{ product.description }} </p>
              </div>
            </a>
    </div>
          {% endfor %}

			<div class="related">
				<div class="title clearfix">
					<h2>Похожие продукты</h2>
					<a class="explore" href="#">показать все <img src="/static/img/arrow.png" alt=""></a>
				</div>
				<div class="related-products clearfix">
					<div class="block">
						<a href="#"><img src="/static/img/product-11.jpg" alt="">
							<div class="text">
								<img src="/static/img/icon-hover.png" alt="img">
								<h4>Стул повышенного качества</h4>
								<p>Не оторваться. </p>
							</div>
						</a>
					</div>
					<div class="block">
						<a href="#"><img src="/static/img/product-21.jpg" alt="">
							<div class="text">
								<img src="/static/img/icon-hover.png" alt="img">
								<h4>Стул повышенного качества</h4>
								<p>Не оторваться. </p>
							</div>
						</a>
					</div>
					<div class="block">
						<a href="#"><img src="/static/img/product-31.jpg" alt="">
							<div class="text">
								<img src="/static/img/icon-hover.png" alt="img">
								<h4>Стул повышенного качества</h4>
								<p>Не оторваться. </p>
							</div>
						</a>
					</div>

				</div>
			</div>
		</div>
{% endblock %}